@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
    font-size: 1.3rem;
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #022a3c;
    margin-bottom: 1em 3em;
    height: 5em;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    padding: 1em;
    font-size: 1.4rem;
}

p {
    padding: 5px;
}

h1 {
    font-weight: bolder;
    font-size: 1.6rem;
    padding: 5px;
}

.content {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.large-container {
    margin-top: 4vh;
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.container {
    margin-top: 10vh;
    margin-left: 4em;
    height: 600px;
    width: 600px;
    background: linear-gradient(to bottom, #ffd971, #ffc524);
    border-radius: 20px;
    background-color: #fff;
    padding: 2em;
}

.container-start {
    margin-top: 10vh;
    margin-left: 2em;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #333;
    text-align: center;
    border-radius: 100px 0 0 100px;
}


.acc-container {
    color: #333;
    margin-top: 10vh;
    margin-right: 2em;
    width: 20%;
    padding: 2em;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-container {
    width: 40%;
    height: 600px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 30% 30% 40%;
    grid-template-columns: 30% 40% 30%;
    margin-top: 10vh;
    border-radius: 40px;
    padding: 2em;
}

.g-one {
    grid-column: 1;
    grid-row: 1;
}

.g-two {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.g-three {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    color: green;
    font-size: 1.5em;
    font-weight: bolder;
}

.g-four {
    grid-column: 1;
    grid-row: 3;
    margin-left: 2em;
}

.g-five {
    grid-column: 2;
    grid-row: 3;
}

.g-six {
    grid-column: 3;
    grid-row: 3;
    text-align: right;
    margin-right: 2em;
}

.cover {
    width: 50%;
    height: 100%;
    /* background-color: #000;
    opacity: 0.3; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reg,
.login {
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

label,
input {
    margin-top: 5px;
    padding: 5px;
    border-radius: 40px;
}

input {
    padding-left: 30px;
    background-color: #eee;
}

.btn {
    margin-left: 15%;
    border-radius: 10px;
    width: 70%;
    color: #fff;
    background-color: red;
    margin-top: 2em;
    padding: 0.5em;
}

.button {
    padding: 2em;
    background-color: red;
}

.button,
.logout {
    background-color: #d8bfd8;
    width: 7em;
    padding: 5px;
    padding-bottom: 6px;
    margin: 0.5em;
    border-radius: 10px;
    font-size: 1.2rem;
}

.start {
    background-color: #022a3c;
    border: 3px #fff solid;
    color: #fff;
    width: 100%;
    padding: 0.5em;
    font-size: 1.4em;
    margin-top: 2em;
}

.logout {
    background: none;
    height: 50px;
    border: 4px solid #fff;
    padding-bottom: 10px;
    color: #fff;
    border-radius: 30px;
    font-weight: bolder;
}

.logreg {
    border: none;
    border-left: 3px solid hsla(200, 40%, 30%,100);
    color: #000;
    height: 90%;
    width: 4px;
}

.hr-two {
    border: 8px inset #ffc524;
    width: 100%;
    margin-bottom: 0.5em;
}

.container-radio {
    color: #333;
    text-align: center;
    border-radius: 100px 0 0 100px;
}

label.one,
label.two {
    color: #fff;
    border: 3px #fff solid;
    padding: 20px;
    width: 250px;
    float: left;
    font-size: 1.5em;
}

label.one{
    border-radius: 100px 0 0 100px;
    border-right: 1.5px #fff solid;
    background: linear-gradient(to right, #022a3c, #ffc524);
}

label.two{
    border-radius: 0 100px 100px 0;
    border-left: 1.5px #fff solid;
    background: linear-gradient(to left, #022a3c, #ffc524);
}

.section input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label{
  background: #ffc524;
  color: #fff;
}










.bar {
  width: 100%;
  background-color: #eee;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #04AA6D;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}



















footer {
    color: #eee;
    padding: 1em;
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;
    opacity: 0.6;
}

@media (max-width: 668px) {
    nav {
        font-size: 1.2rem;
    }

    .container{
        margin: 1em;
    }
}
